body {
    padding: 0px;
    margin: 0px;
}

.col-25 {
    float: left;
    width: 33.3333%;

}

.product {
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 5px gray;
    padding: 5px;
    margin: 5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.product > .name {
    color: orangered;
    font-variant: small-caps;
}

.product > img {
    max-width: 98%;
    height: 150px;
}

.product > .price {
    position: absolute;
    color: orange;
    font-size: 25px;
    top: 5px;
    left: 5px;
}

.product > .icon {
    width: 25px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.product > .icon > img {
    width: 98%;
}

.product > .new-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 35px;
}